{% extends "::base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/FastVPSCpanel/css/main.css') }}" />
{% endblock %}

{% block title 'Cpanel Bundle' %}

    {% block body %}

        <div id="test">Hi! This is the CpanelBundle.</div>


{% endblock %}