#title, #hostlist, #newhost_button, #copyright, .form, .flash-notice {
    margin-left: 40px !important;
}

#hostlist {
    margin-top: 30px;
    width: 700px;
    border-collapse: collapse;
}

#hostrow {
    border: 1px solid #cccccc;
}

.edithost_button a, .removehost_button a{
    display: block;
    border-radius: 0px;
}

#newhost_button a {
    background: #66E375;
}

.edithost_button a {

}

.removehost_button a {
    background: #F76363;
    color: #ffffff;
}

#copyright {
    margin-top: 30px;
    font-size: 10px;
}

.flash-notice {
    margin-top: 30px;
    background: #eeeeaa;
    width: 550px;
    padding: 10px;
}